* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: navajowhite;
    font-size: 28px;
}


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.btn-title {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form {
    margin-top: 10px;
    display: none;
    position:fixed;
    top: 0;
    width: 14%;
    margin-right: 10%;
    margin-left: 76%;
    z-index: 9;
    font-size: 18px;
    padding: 10px 15px;
    
    
}

.form-inputs {
    width: 180px;
    height: 30px;
    border: 1px solid peru;
    border-radius: 0.3rem;
    padding: 5px;
    background-color: whitesmoke;
    
}


.grid-container {
    padding: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill);
    gap: 60px;
    margin-top: 30px;
    
    
}

.btn {
    border: 2px solid peru;
    border-radius: 0.5rem;
    padding: 2px 30px;
    background-color: whitesmoke;
    font-weight: 900;
    font-size: 20px;
    
}

#submit {
    margin-top: 8px;
    border: 1px solid peru;
    border-radius: 0.3rem;
    padding: 5px 15px;
    background-color: whitesmoke;
    font-weight: 700;
}



.change-status,
.remove-btn {
    background-color: whitesmoke;
    border: 1px solid peru;
    border-radius: 0.3rem;
    padding: 7px;
    margin-top: 5px;
    font-weight: 700;
}

.book-container {
    background-color: whitesmoke;
    border: 2px solid peru;
    border-radius: 0.3rem;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}









